@charset "UTF-8";
html, body {
  height: 100%;
  overflow: hidden;
  -webkit-overflow-scrolling: auto; }

.app {
  max-height: 100%;
  max-height: 100vh;
  perspective: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  --scroll: 0; }

/* ---------------------------------- */
.bottom-section {
  height: 60%;
  display: flex;
  flex-direction: column; }
  .bottom-section .line {
    color: #fff;
    transform: rotate(90deg);
    width: 95px;
    margin: auto; }
  .bottom-section .heads-up {
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 10px;
    text-align: -webkit-center;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 1px; }

.ui-header, .ui-layer {
  transform-style: preserve-3d; }

.ui-header {
  position: relative;
  height: 95vh;
  margin-top: -6%; }

.ui-nav {
  transform: translateZ(0px);
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  z-index: 11;
  width: 100%;
  display: flex;
  color: #000; }
  .ui-nav > * {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; }
  .ui-nav > .ui-left, .ui-nav > .ui-right {
    text-transform: uppercase;
    font-weight: bold;
    z-index: 1; }
  .ui-nav > .ui-left {
    transition: all .5s;
    transform: translateX(50%); }
  .ui-nav > .ui-right {
    color: #000;
    transition: all .5s;
    font-size: 1rem;
    margin-top: 10px;
    transform: translateX(-50%); }
  .ui-nav > .ui-center {
    flex-grow: 1; }
  .ui-nav.-expanded > .ui-left {
    margin-top: 14%;
    transform: none; }
  .ui-nav.-expanded > .ui-right {
    margin-top: 15%;
    transform: rotate(90deg); }

.ui-item {
  margin: 0 1rem;
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

@keyframes linkGrowth {
  0% {
    opacity: 0;
    transform: scale(1); }
  100% {
    opacity: 1;
    transform: scale(1.4); } }

.links {
  margin-top: 30px; }
  .links .link {
    margin-left: 17%;
    margin-bottom: 20px;
    font-size: .80rem;
    text-transform: uppercase;
    opacity: 0;
    animation: linkGrowth cubic-bezier(0.77, 0, 0.175, 1) 2s forwards; }
  .links .link-1 {
    animation-delay: .5s; }
  .links .link-2 {
    animation-delay: 1s; }
  .links .link-3 {
    animation-delay: 1.5s; }
  .links .link-4 {
    animation-delay: 2s; }

/* Main
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
  background: url(https://images.unsplash.com/photo-1533158326339-7f3cf2404354?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2608&q=80) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif; }

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600; }

h6 {
  color: #666;
  font-family: 'Raleway', sans-serif;
  margin: 10px 0; }

p {
  font-size: 12px;
  font-weight: 400;
  font-family: 'Raleway', sans-serif; }

a {
  text-decoration: none;
  font-size: 0.9em;
  line-height: 1.6;
  font-weight: 400; }

a:hover,
a:active,
a:focus {
  background-color: rgba(255, 255, 255, 0.6); }
  a:hover.ui-right,
  a:active.ui-right,
  a:focus.ui-right {
    color: white;
    background-color: transparent; }

/* Helpers
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.one-line-spread {
  display: flex;
  align-items: center; }

.flex-column {
  display: flex;
  flex-direction: column; }

.half-width {
  width: 50%; }

.third-width {
  width: 33.3%; }

.bold {
  font-weight: 600; }

/* Sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.main-content {
  width: 58%; }

/* Larger than mobile */
@media (min-width: 400px) {
  .main-content {
    width: 33.3%; } }

/* Specific styles for sections
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tagline {
  margin-bottom: 20px; }

.link-and-description {
  color: #000;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px; }
  .link-and-description a {
    transition: all 0.5s; }
    .link-and-description a:hover, .link-and-description a:focus, .link-and-description a:active {
      color: #000; }

/* Top section - logos and fixed side
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
  display: block;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  transition: all .5s; }

@media (max-width: 500px) {
  .logo {
    margin-top: 30%; } }

.logo-thumbnail {
  width: 50px; }

.side-fixed-section {
  position: fixed;
  top: 3%;
  right: 9px; }

.mini-logo {
  width: 25px; }

.contact-link {
  margin-top: 20px;
  font-size: 10px;
  text-transform: uppercase;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg); }

/* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.shadow-pop-tr {
  -webkit-animation: shadow-pop-tr 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  animation: shadow-pop-tr 1.3s cubic-bezier(0.47, 0, 0.745, 0.715) both; }

.text-shadow-pop-top {
  -webkit-animation: text-shadow-pop-top 0.6s 1s both;
  animation: text-shadow-pop-top 0.6s 1s both; }

/* ----------------------------------------------
 * Generated by Animista on 2019-10-14 22:36:40
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shadow-pop-tr
 * ----------------------------------------
 */
@-webkit-keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px); } }

@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0); }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
    transform: translateX(-8px) translateY(8px); } }

/* ----------------------------------------------
 * Generated by Animista on 2019-11-9 23:2:6
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation text-shadow-pop-top
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }

@keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
    transform: translateY(8px); } }
