* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  flex-direction: column;
  background: no-repeat center top fixed;
  background-image: url('pus.jpg');
  background-color: #FF2400;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  animation: fade .5s;
}

h1,
h2,
h3 {
  color: #FF2400;
  min-width: fit-content;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: .8rem;
}

a {
  color: #FF9912;
  text-decoration: none;
}

a:hover {
  color: #FF2400;
  animation: fade .5s ease-in;
}

.section {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.pic {
  position: fixed;
  top: 20px;
  right: 20px;
  border: 4px solid #0A0D14;
  width: 5rem;
  border-radius: 50%;
}

@keyframes twirl {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

@keyframes fade {
  0% {
   opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
