* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  flex-direction: column;
  /* background: no-repeat center top fixed;
  background-image: url('pus.jpg');
  background-color: #666;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

h1,
h2,
h3 {
  color: #555;
  min-width: fit-content;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: .8rem;
}

a {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: rgb(128, 8, 98);
  animation: fade .1s ease-in;
}

.section {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.pic {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 5rem;
  border-radius: 50%;
}

@keyframes fade {
  0% {
   opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
